.fancybox__content {
    >.f-button.is-close-btn {
        --f-button-border-radius: 50%;
        --f-button-color: #fff;
        --f-button-hover-color: #fff;
        --f-button-outline-color: #000;
        --f-button-bg: rgba(0, 0, 0, 0.6);
        --f-button-active-bg: rgba(0, 0, 0, 0.6);
        --f-button-hover-bg: rgba(0, 0, 0, 0.6);
        --f-button-svg-width: 18px;
        --f-button-svg-height: 18px;
        --f-button-svg-filter: none;
        top: 5px;
        right: 5px;
    }
}

#movie-poster,
#show-poster,
#movie-backdrop,
#show-backdrop {

    @include MQ(xsmall) {
        width: 70%;
        height: auto;
        max-height: 90%;
    }
}