#mainPlayer {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.video-js {
    * {
        outline: none !important;
    }

    .vjs-control-bar {
        width: calc(100% - #{$grid-padding*2}px);
        height: rem-calc(120)!important;
        margin: 0 auto;
        bottom: rem-calc($grid-padding);
    }

    .vjs-progress-control {
        width: 100%;
        height: rem-calc(60);
        position: absolute;
        top: 0;
        left: 0;
    }

    .vjs-big-play-button {
        background: transparent !important;
        border: 0;
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);        

        .vjs-icon-placeholder {
            line-height: 1 !important;
            margin: 0;

            &:before {
                content: "\e902";
                font: {
                    family: $icon-font;
                    size: rem-calc(80);
                }
                position: relative;
                top: unset;
                left: unset;
            }
        }
    }

    .vjs-icon-placeholder {
        line-height: 1 !important;

        &::before {
            line-height: 1 !important;
        }
    }

    .vjs-control-bar {
        background: transparent !important;
        height: rem-calc(60);
    }

    .vjs-play-control {
        display: block;
        width: rem-calc(60);
        height: rem-calc(60);
        position: absolute;
        left: 0;
        bottom: 0;

        .vjs-icon-placeholder {
            display: block;
            position: absolute;
            height: auto;
            width: auto;
            margin: {
                bottom: 0;
            }
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &::before {
                display: block;
                font: {
                    family: $icon-font;
                    size: rem-calc(40);
                }
                position: relative;
                top: unset;
                left: unset;
            }
        }
    }

    .vjs-play-control {
        .vjs-icon-placeholder {
            &::before {
                content: "\e902";
            }
        }

        &.vjs-playing {
            .vjs-icon-placeholder {
                &::before {
                    content: "\e901";
                }
            }
        }
    }

    .vjs-volume-panel,
    .vjs-mute-control {
        width: rem-calc(60);
        height: rem-calc(60);

    }

    .vjs-volume-panel {
        position: absolute !important;
        left: 60px;
        bottom: 0;

        .vjs-mute-control {
            .vjs-icon-placeholder {
                height: 100%;
                width: 100%;
                margin: 0;

                &::before {
                    line-height: 1;
                    height: auto;
                    width: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .vjs-volume-control {
            height: rem-calc(60);
        }

        .vjs-volume-bar {
            margin: rem-calc(28) rem-calc(5);
        }
    }

    .vjs-mute-control {
        .vjs-icon-placeholder {
            &::before {
                content: "\e90c";
                font-family: $icon-font;
            }
        }

        &.vjs-vol-0 {
            .vjs-icon-placeholder {
                &::before {
                    content: "\e90b";
                }
            }
        }

        &.vjs-vol-1 {
            .vjs-icon-placeholder {
                &::before {
                    content: "\e90a";
                }
            }
        }

        &.vjs-vol-2 {
            .vjs-icon-placeholder {
                &::before {
                    content: "\e909";
                }
            }
        }
    }

    .vjs-fullscreen-control {
        width: rem-calc(60) !important;
        height: rem-calc(60) !important;
        position: absolute !important;
        right: 0;
        bottom: 0;

        .vjs-icon-placeholder {
            width: rem-calc(60) !important;
            height: rem-calc(60) !important;
            margin: 0;

            &::before {
                content: "\e920";
                font: {
                    family: $icon-font;
                    size: rem-calc(40);
                }
                line-height: 1;
                width: auto;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &.vjs-fullscreen {
        .vjs-fullscreen-control {    
            .vjs-icon-placeholder {
                &::before {
                    content: "\e921";
                }
            }
        }
    }

    #player-back-btn {
        flex: none;
        width: rem-calc(50);
        height: rem-calc(50);
        position: absolute;
        top: rem-calc($grid-padding);
        left: rem-calc($grid-padding);
        visibility: hidden;
        opacity: 0;
        @include transition(opacity $transition-default);

        &:hover {
            cursor: pointer;
        }

        &::before {
            content: "\e91e";
            display: block;
            font: {
                family: $icon-font;
                size: rem-calc(40);
            }
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &.vjs-has-started {
        #player-back-btn {
            visibility: visible;
            opacity: 1;
            flex: none;
        }

        &.vjs-user-inactive {
            #player-back-btn {
                visibility: hidden;
                opacity: 0;
            }
        }
    }
}