#mainPlayer {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.video-js {
    * {
        outline: none !important;
    }

    .vjs-control-bar {
        width: calc(100% - #{$grid-padding}px);
        height: rem-calc(60)!important;
        margin: 0 auto;
        bottom: rem-calc($grid-padding/2);

        @include MQ(medium) {
            width: calc(100% - #{$grid-padding*2}px);
            height: rem-calc(96)!important;
            bottom: rem-calc($grid-padding);  
        }
    }

    .vjs-progress-control {
        width: 100%;
        height: rem-calc(20);
        position: absolute;
        top: 0;
        left: 0;
    }

    .vjs-big-play-button {
        background: transparent !important;
        border: 0;
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);        

        .vjs-icon-placeholder {
            line-height: 1 !important;
            margin: 0;

            &:before {
                content: "\e902";
                font: {
                    family: $icon-font;
                    size: rem-calc(80);
                }
                position: relative;
                top: unset;
                left: unset;
            }
        }
    }

    .vjs-icon-placeholder {
        line-height: 1 !important;

        &::before {
            line-height: 1 !important;
        }
    }

    .vjs-control-bar {
        background: transparent !important;
        height: rem-calc(40);

        @include MQ(medium) {
            height: rem-calc(60);
        }
    }

    .vjs-play-control {
        display: block;
        width: rem-calc(40);
        height: rem-calc(40);
        position: absolute;
        left: 0;
        bottom: 0;

        @include MQ(medium) {
            width: rem-calc(60);
            height: rem-calc(60);
        }

        .vjs-icon-placeholder {
            display: block;
            position: absolute;
            height: auto;
            width: auto;
            margin: {
                bottom: 0;
            }
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &::before {
                display: block;
                font: {
                    family: $icon-font;
                    size: rem-calc(30);
                }
                position: relative;
                top: unset;
                left: unset;

                @include MQ(medium) {
                    font: {
                        size: rem-calc(40);
                    }
                }
            }
        }
    }

    .vjs-play-control {
        .vjs-icon-placeholder {
            &::before {
                content: "\e902";
            }
        }

        &.vjs-playing {
            .vjs-icon-placeholder {
                &::before {
                    content: "\e901";
                }
            }
        }
    }

    .vjs-volume-panel,
    .vjs-mute-control {
        width: rem-calc(40);
        height: rem-calc(40);

        @include MQ(medium) {
            width: rem-calc(60);
            height: rem-calc(60);
        }
    }

    .vjs-volume-panel {
        position: absolute !important;
        left: rem-calc(40);
        bottom: 0;

        @include MQ(medium) {
            left: rem-calc(60);
        }

        .vjs-mute-control {
            .vjs-icon-placeholder {
                height: 100%;
                width: 100%;
                margin: 0;

                &::before {
                    line-height: 1;
                    height: auto;
                    width: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .vjs-volume-control {
            height: rem-calc(40);

            @include MQ(medium) {
                height: rem-calc(60);
            }
        }

        .vjs-volume-bar {
            margin: rem-calc(18.5) rem-calc(5);

            @include MQ(medium) {
                margin: rem-calc(28) rem-calc(5);
            }
        }
    }

    .vjs-mute-control {
        .vjs-icon-placeholder {
            &::before {
                content: "\e90c";
                font-family: $icon-font;
            }
        }

        &.vjs-vol-0 {
            .vjs-icon-placeholder {
                &::before {
                    content: "\e90b";
                }
            }
        }

        &.vjs-vol-1 {
            .vjs-icon-placeholder {
                &::before {
                    content: "\e90a";
                }
            }
        }

        &.vjs-vol-2 {
            .vjs-icon-placeholder {
                &::before {
                    content: "\e909";
                }
            }
        }
    }

    .vjs-current-time,
    .vjs-time-divider,
    .vjs-duration {
        display: flex;
        align-items: center;
        height: rem-calc(40);
        min-width: unset;
        padding: {
            right: rem-calc(4);
            left: rem-calc(4);
        }
        position: absolute;
        bottom: 0;

        @include MQ(medium) {
            height: rem-calc(60);
        }

        div,
        span {
            line-height: 1;
            margin: 0;
        }
    }

    .vjs-duration {
        right: rem-calc(60);
    }

    .vjs-fullscreen-control {
        width: rem-calc(40) !important;
        height: rem-calc(40) !important;
        position: absolute !important;
        right: 0;
        bottom: 0;

        @include MQ(medium) {
            width: rem-calc(60) !important;
            height: rem-calc(60) !important; 
        }

        .vjs-icon-placeholder {
            width: rem-calc(40) !important;
            height: rem-calc(40) !important;
            margin: 0;

            @include MQ(medium) {
                width: rem-calc(60) !important;
                height: rem-calc(60) !important; 
            }

            &::before {
                content: "\e920";
                font: {
                    family: $icon-font;
                    size: rem-calc(30);
                }
                line-height: 1;
                width: auto;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                @include MQ(medium) {
                    font: {
                        family: $icon-font;
                        size: rem-calc(40);
                    }
                }
            }
        }
    }

    &.vjs-fullscreen {
        .vjs-fullscreen-control {    
            .vjs-icon-placeholder {
                &::before {
                    content: "\e921";
                }
            }
        }
    }

    #player-back-btn {
        display: block;
        flex: none;
        width: rem-calc(50);
        height: rem-calc(50);
        position: absolute;
        top: rem-calc($grid-padding);
        left: rem-calc($grid-padding);
        visibility: hidden;
        opacity: 0;
        @include transition(opacity $transition-default);

        &:hover {
            cursor: pointer;

            &::before {
                @include MQ(medium) {
                    font: {
                        size: rem-calc(56);
                    }    
                }
            }
        }

        &::before {
            content: "\e91e";
            display: block;
            font: {
                family: $icon-font;
                size: rem-calc(40);
            }
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include transition(all $transition-default);
        }
    }

    &.vjs-has-started {
        #player-back-btn {
            visibility: visible;
            opacity: 1;
            flex: none;
        }

        &.vjs-user-inactive {
            #player-back-btn {
                visibility: hidden;
                opacity: 0;
            }
        }
    }
}

#player-back-btn {
    display: none;
}

.video-js .vjs-volume-panel .vjs-mute-control ~ .vjs-volume-control.vjs-volume-horizontal, 
.video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-horizontal {
    height: rem-calc(40);

    @include MQ(medium) {
        height: rem-calc(60);
    }
}

.video-js .vjs-volume-panel.vjs-hover .vjs-mute-control ~ .vjs-volume-control.vjs-volume-horizontal, 
.video-js .vjs-volume-panel.vjs-hover .vjs-volume-control.vjs-volume-horizontal {
    width: rem-calc(96);
    height: rem-calc(40);

    @include MQ(medium) {
        height: rem-calc(60);
    }
}

.vjs-volume-bar.vjs-slider-horizontal {
    width: rem-calc(96);
}


.vjs-control {
    .vjs-icon-placeholder {
        &::before {
            @include transition(all $transition-default);
        }
    }

    &:hover {
        .vjs-icon-placeholder {
            &::before {
                @include MQ(medium) {
                    font: {
                        size: rem-calc(56);
                    }    
                }
            }
        }
    }
}

.next-episode-btn {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    width: rem-calc(150);
    margin: 0;
    position: absolute;
    right: rem-calc($space-base);
    bottom: rem-calc(80);
    visibility: hidden;
    opacity: 0;
    @include transitions(opacity $transition-default, bottom $transition-default);

    &.visible {
        visibility: visible;
        opacity: 1;
    }

    @include MQ(medium) {
        width: rem-calc(300);
        bottom: rem-calc(130);

        &.visible {
            visibility: hidden;
            opacity: 0;
        }
    }

    i {
        color: var(--white);
        font: {
            size: rem-calc(60);
        }

        &::before {
            text-shadow: 0px 0px 10px rgba(0,0,0,0.75), 0px 0px 20px #000;
        }
    }

    span {
        display: block;
        background: {
            color: var(--black-50);
        }
        margin: 0;
        padding: rem-calc(5) rem-calc(10);
    }
}

.video-js.vjs-has-started {
    .next-episode-btn {
        &.visible {
            visibility: visible !important;
            opacity: 1 !important;
        }
    }

    &.vjs-user-inactive {
        .next-episode-btn {
            bottom: rem-calc($space-base);
        }
    }
}