
@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}

a.btn, .btn, .button:not(.acf-button):not(.add_media), [type="submit"] {
    line: {
        height: 1 !important;
    }
    min-height: rem-calc(50) !important;

    @include MQ(xsmall) {
        min-width: rem-calc(200) !important;
    }

    &::before {
        font: {
            size: rem-calc(26) !important;
        }
    }

    &.mylist-btn {
        &.hidden {
            display: none;
        }
    }

    &.loading {
        color: transparent !important;

        &::before {
            content: '\f110';
            color: var(--black) !important;
            margin: 0 !important;
            position: absolute !important;
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%) rotate(0deg);

            @include keyframes(spinner) {
                0% {
                    transform: translate(-50%, -50%) rotate(0deg);
                }
                100% {
                    transform: translate(-50%, -50%) rotate(360deg);
                }
            };
            @include animate(spinner, 2s, linear, infinite);
        }
    }
}